@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
*{
    margin:0;
    padding:0;
    font-family: Belleza; color:rgb(9, 0, 80);
    box-sizing: border-box;
}
:root {
--color-celeste:rgb(205, 240, 234);
--color-blanco:rgb(249, 249, 249);
--color-rosado:rgb(246, 198, 234);
--color-amarillo:rgb(250, 244, 183);
}
header{
    display:flex;
    background-image: linear-gradient(to top,var(--color-blanco),var(--color-rosado));
    width: 100vw;
    justify-content: space-between;
    gap:5vw;
    align-items: center;
    padding: 3vh 5vw;
}
section #logo{
    display:flex;
    align-items: center;
    justify-content: center;
    width:20vw;
}
#logo{
    width:20vw;
    border-radius: 10%;
}
.navegación{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 80vw;
    gap: 10vh;
}
.barra-1>button{
    text-decoration:none;
    font-size: 2vw;
    border-radius: 30%;
    border: 2px solid var(--color-rosado);
    background-color: var(--color-blanco);
    padding:1vw;
}
#btn-login{
    border: 2px solid var(--color-blanco);
    background-color: var(--color-rosado);
}
nav.barra-1{
    display:flex;
   
    flex-direction: row;
    justify-content: space-between;
    max-width:100%;
}
nav.barra-2{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    max-width:100%;
    text-decoration: none;
    }
    .nav-list{
        display:flex;
        flex-direction: row;
        justify-content: space-between;
        max-width:100%;
        text-decoration: none;
        font-size:1.5vw;
    }
a{
    display:flex;
    text-decoration: none;
}
/* Al respecto de las barras de navegación. Se habían hecho en columna respetando el modelo para agrupar cosas que están más relacionadas:
la marca con la registración y el login con la cotización ¿es correcto o nos convenía hacerlas en fila? */
main{
    width:100vw;
}
@keyframes aparece{
    0%{
        opacity:0;      
    }
    100%{
        opacity:0.7;
    }
}
@keyframes viene-oferta {
    0%{
        opacity:0;
        transform:rotate(0deg);
    }
    100%{
        opacity:1;
        transform:rotate(360deg);
    }    
}
.secciónPrincipal{
    height: fit-content;
    background-color:var(--color-blanco);
}
.fondoPrincipal{
    width:100vw;
    animation-name:aparece;
    animation-duration: 2s;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3vh 5vw;
    justify-content: space-between;
    background-image: linear-gradient(to top,var(--color-blanco),var(--color-rosado),var(--color-blanco));
}    
.card-producto{width: 500px;
        padding: 20px;
        background-color: transparent;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;}
.card-producto img{ width: 100%;}



.oferta{
    background-color: var(--color-rosado);
    color:rgb(9, 0, 80);
    animation-name:viene-oferta;
    animation-duration: 5s;
    animation-timing-function:ease-out;
    border-radius:50%;
    border:2vw solid var(--color-rosado);
    width: 10vw;
    z-index: 2;
    text-align:center;
    font-size:1vw;
    position:absolute;
    left:62vw;
    top:62vh; 
}
footer{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    background-image: linear-gradient(to top,var(--color-rosado),var(--color-blanco));
    width: 100vw;
    justify-content: space-between;
    padding: 3vh 5vw;
}
footer nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:rgb(9, 0, 80);
    width: 100vw;
    margin-top: 2vh;
    padding: 2vh 5vw;
}
footer nav a{
    text-decoration: none;
    font-size: 1.5vw;
}
h1{
    width:100%;
    height:100%;
}
#firma{
    width:100%
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    font-size: 2.5vh;
    margin-bottom: 2.5vh;
}
.nav-list{
    display: flex;
    list-style-type: none;
    gap: 1.5vw;
}
.abrirMenu{
    display : none;
}
 .cerrarMenu{
display: none;
}
@media screen and (max-width: 900px){
    
    header{
        display:flex;
        width: 100vw;
        gap:5vw;
        align-items: flex-start;
       
    }
    .oferta{
    position: relative;
    left: 80vw;
   
   }
   
    .abrirMenu{
        display: block;
        border: 0;
        font-size: 2vw;
        background-color: transparent;
        text-align: end;
        cursor: pointer;
        align-items: end;
        
       

    }
    .cerrarMenu{
        display: block;
        border: 0;
        font-size: 2vw;
        background-color: transparent;
        cursor: pointer;

    }

    .barra2{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 2vw;
        top: 0;
        right: 0;
        bottom: 0;
        padding: 2vw;
        box-shadow: 0 0 0 100vmax rgb( 0 , 0, 0, .5);
    }
    
   
    .barra2.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
        
    }
  

}
    

/* ¿Cómo poner imágenes de forma tal que no se rompan? Recuerdo que debían ser png, creo, pero preguntar bien cómo convertirlas si las tenemos en jpeg */
/* Mayores problemas: alinear; que queden los marcos justo con el tamaño del visor, ni más ni menos, poner tamaños de fuente que se adapten siempre a la caja que los contiene */
/* Faltan los mediaQuery y los íconos */
/* Falta ver el tema de agregar el agente */