@import url('https://fonts.googleapis.com/css2?family=Belleza&display=swap');
*{
    margin:0;
    padding:0;
    font-family: Belleza; color:rgb(40, 40, 40);
    box-sizing: border-box;
}
:root {
--color-celeste:rgb(205, 240, 234);
--color-blanco:rgb(249, 249, 249);
--color-rosado:rgb(246, 198, 234);
--color-rosado2:rgb(225, 15, 204);
--color-amarillo:rgb(250, 244, 183);
}
header{
    display:flex;
    background-image: repeating-linear-gradient(to bottom,var(--color-rosado),var(--color-blanco));
    width: 100vw;
    max-height: fit-content;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 5vw;
    height: 12vh;
}
section #logo{
    display:flex;
    align-items: center;
    justify-content:space-between;
    max-width:auto;
    max-height: 6vw;
}

a{
    display:flex;
    text-decoration: none;
    font-size: 1.5rem;
}
/* Al respecto de las barras de navegación. Se habían hecho en columna respetando el modelo para agrupar cosas que están más relacionadas:
la marca con la registración y el login con la cotización ¿es correcto o nos convenía hacerlas en fila? */
main{
    width:100vw;
}
@keyframes aparece{
    0%{
        opacity:0;      
    }
    100%{
        opacity:1;
    }
}
.secciónPrincipal{
    display: flex;
    justify-content:space-between;
    align-items: center;
    width:100vw;
    background-color:var(--color-blanco);
    padding: 3vh 5vw;
}
.fondoPrincipal{
    display:flex;
    width:20vw;
    box-shadow: -3px 3px 7px 3px rgb(40, 40, 40);
    border-radius: 1rem;
    animation-name:aparece;
    animation-duration: 2s;   
}
.seccionSecundaria{
    display: flex;
    justify-content:space-between;
    width:30vw;
    align-items:center;
}
#timer{
    font-size:2rem;
    box-shadow: -3px 3px 7px 3px rgb(40,40,40);
    border-radius: 1rem;
    animation-name:aparece;
    animation-duration: 2s;
    min-height: 10vh;
    max-width:35vw;
    align-self: center;
    justify-content:center;
    margin-top: 5vw;
    margin-left: 15vw;
}

#timer:hover{
    transition: 1s ease-in-out;
    background-color: rgb(250, 223, 238);
}
.oferta{
    color:rgba(50, 50, 50, 0.50);
    width: 100%;
    text-align:center;
    font-size: 1.25rem;
    padding: 3vh 5vw;
}

span{
    color: var(--color-rosado2) !important;
    font-size: 2rem;
}

.productos{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 3vh 5vw;
    justify-content: space-between;
    background-image: linear-gradient(to top,var(--color-blanco),var(--color-amarillo),var(--color-blanco));
}    
.card-producto{
    width: 400px;
    padding: 20px;        
    box-shadow: -3px 3px 7px 3px rgba(40, 40, 40, 0.25);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;       
    justify-content: space-between;}
.card-producto img{ width: 100%;}
footer{
    display: flex;
    flex-direction: column;
    gap: 5vh;
    align-items: center;
    background-image: linear-gradient(to top,var(--color-rosado),var(--color-blanco));
    width: 100vw;
    justify-content: space-between;
    padding: 3vh 5vw;
}
footer nav{
    display:flex;
    align-items:center;
    justify-content:space-between;
    color:rgb(40, 40, 40);
    width: 100vw;
    margin-top: 2vh;
    padding: 2vh 5vw;
}
footer nav a{
    text-decoration: none;
    font-size: 1.5vw;
}
h1{
    width:100%;
    height:100%;
}
#firma{
    width:100%
}
p{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width:100%;
    font-size: 2.5vh;
    margin-bottom: 2.5vh;
}
.nav-list{
    display: flex;
    list-style-type: none;
    gap: 1.5vw;
}
.abrirMenu{
    display : none;
}
 .cerrarMenu{
display: none;
}
@media screen and (max-width: 768px){
    
    header{
        display:flex;
        width: 100vw;
        gap:5vw;
        align-items: flex-start;
       
    }
    .secciónPrincipal{
        display: flex;
        justify-content:space-between;
        align-items: center;
        width:100vw;
        background-color:var(--color-blanco);
        padding: 3vh 5vw;
    }
    .fondoPrincipal{
        display:flex;
        width:20vw;
        box-shadow: -3px 3px 7px 3px rgb(40, 40, 40);
        border-radius: 1rem;
        animation-name:aparece;
        animation-duration: 2s;   
    }
    .seccionSecundaria{
        display: flex;
        justify-content:space-between;
        width:30vw;
        align-items:center;
    }
    #timer{
        font-size:2rem;
        box-shadow: -3px 3px 7px 3px rgb(40,40,40);
        border-radius: 1rem;
        animation-name:aparece;
        animation-duration: 2s;
        min-height: 10vh;
        max-width:35vw;
        align-self: center;
        justify-content:center;
        margin-top: 5vw;
        margin-left: 15vw;
    }
    
    #timer:hover{
        transition: 1s ease-in-out;
        background-color: rgb(250, 223, 238);
    }
    .oferta{
        color:rgba(50, 50, 50, 0.50);
        margin-top: 10vh;
        width: 100%;
        text-align:center;
        font-size: 0.75rem;
        padding: 3vh 5vw;
    }
    
    span{
        color: var(--color-rosado2) !important;
        font-size: 2rem;
    }
    
    .productos{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 3vh 5vw;
        justify-content: space-between;
        background-image: linear-gradient(to top,var(--color-blanco),var(--color-amarillo),var(--color-blanco));
    }    
    .card-producto{
        width: 400px;
        padding: 20px;        
        box-shadow: -3px 3px 7px 3px rgba(40, 40, 40, 0.25);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;       
        justify-content: space-between;}
    .card-producto img{ width: 100%;}
    footer{
        display: flex;
        flex-direction: column;
        gap: 5vh;
        align-items: center;
        background-image: linear-gradient(to top,var(--color-rosado),var(--color-blanco));
        width: 100vw;
        justify-content: space-between;
        padding: 3vh 5vw;
    }
    footer nav{
        display:flex;
        align-items:center;
        justify-content:space-between;
        color:rgb(40, 40, 40);
        width: 100vw;
        margin-top: 2vh;
        padding: 2vh 5vw;
    }
    footer nav a{
        text-decoration: none;
        font-size: 1.5vw;
    }
    h1{
        width:100%;
        height:100%;
    }
    #firma{
        width:100%
    }
    p{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        width:100%;
        font-size: 2.5vh;
        margin-bottom: 2.5vh;
    }
    .nav-list{
        display: flex;
        list-style-type: none;
        gap: 1.5vw;
    }
    .abrirMenu{
        display : none;
    }
     .cerrarMenu{
    display: none;
    }
   
    .abrirMenu{
        display: block;
        border: 0;
        font-size: 2vw;
        background-color: transparent;
        text-align: end;
        cursor: pointer;
        align-items: end;
        z-index:2;
        
       

    }
    .cerrarMenu{
        display: block;
        border: 0;
        font-size: 2vw;
        background-color: transparent;
        cursor: pointer;

    }

    .barra2{
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: end;
        gap: 2vw;
        top: 0; 
        right: 0;
        bottom: 0;
        padding: 2vw;
    }
 /*    .productos{
        width: 50%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 3vh 5vw;
        justify-content: space-between;
        background-image: linear-gradient(to top,var(--color-blanco),var(--color-celeste),var(--color-blanco));
    }    
    .card-producto{
        width: 80%;
        padding: 20px;        
        box-shadow: -3px 3px 7px 3px rgba(40, 40, 40, 0.25);
        border-radius: 1rem;
        display: flex;
        flex-direction: column;       
        justify-content: space-between;}
    .card-producto img{ width: 100%;} */
   
    .barra2.visible{
        opacity: 1;
        visibility: visible;
    }
    .nav-list{
        flex-direction: column;
        align-items: end;
        
    }
  

}
    

/* ¿Cómo poner imágenes de forma tal que no se rompan? Recuerdo que debían ser png, creo, pero preguntar bien cómo convertirlas si las tenemos en jpeg */
/* Mayores problemas: alinear; que queden los marcos justo con el tamaño del visor, ni más ni menos, poner tamaños de fuente que se adapten siempre a la caja que los contiene */
/* Faltan los mediaQuery y los íconos */
/* Falta ver el tema de agregar el agente */